---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main class="not-found">404</main>
</Layout>

<style>
  .not-found {
    @apply w-screen h-screen flex items-center justify-center text-8xl text-black font-bold;
  }
</style>
