---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import PostRow from "@components/PostRow.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
const sortedPosts = getSortedPosts(allPosts);
---

<Layout title="瓶子笔记">
  <Header />
  <Main>
    <div>
      {
        sortedPosts.map((post) => {
          return <PostRow postDetail={post} />;
        })
      }
    </div>
  </Main>
</Layout>
