---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import PostRow from "@components/PostRow.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("blog", ({ data }) => !data.draft);
---

<Layout title="ç“¶å­ç¬”è®°">
  <Header />
  <Main>
    <div class="min-h-lvh">
      {
        posts.map((post) => {
          return <PostRow postDetail={post} />;
        })
      }
    </div>
  </Main>
</Layout>
