---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import PostSummary from "@components/PostSummary.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const sortedPosts = getSortedPosts(allPosts);
---

<Layout>
  <Header />
  <Main>
    <div>
      {
        sortedPosts.map((post) => {
          return <PostSummary postDetail={post} />;
        })
      }
    </div>
  </Main>
</Layout>
