<header>
  <nav class="nav-container">
    <a class="logo" href="/">瓶子笔记</a>
    <ul class="flex">
      <!-- <li><a href="/blog">Blog</a></li> -->
      <!-- <li><a href="/about">About</a></li> -->
    </ul>
  </nav>
</header>

<style>
  .nav-container {
    @apply max-w-2xl mx-auto flex items-center justify-between pt-10 pb-14;
  }
  .logo {
    @apply font-extrabold text-3xl text-black;
  }
  ul li {
    @apply px-3 mx-2;
  }
  li a {
    @apply text-xl font-medium;
  }
</style>
