---
import ToggleThemeBtn from "./ToggleThemeBtn.astro";
---

<header class="w-full relative">
  <div class="nav-container">
    <a class="logo" href="/">瓶子笔记</a>
    <nav id="nav-menu">
      <ul class="flex">
        <li><a href="/about/">About</a></li>
        <li>
          <ToggleThemeBtn />
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .nav-container {
    @apply max-w-2xl mx-auto flex justify-between items-center sm:py-8;
  }
  .logo {
    @apply font-extrabold text-3xl text-skin-base;
  }
  ul li {
    @apply flex items-center justify-center ml-5 p-1;
  }
  ul li a {
    @apply text-skin-base font-medium w-full;
  }
</style>
