---
import FormattedDate from "@components/FormattedDate.astro";
const { postDetail } = Astro.props;

const {
  data: { title, pubDate },
  slug,
} = postDetail;
---

<article class="mb-5 flex items-center">
  <h2 class="text-lg text-skin-base font-medium" transition:name={title}>
    <a href={`/blog/${slug}/`}> {title}</a>
  </h2>
  <FormattedDate date={pubDate} />
</article>
