---
import { getCollection } from "astro:content";
const posts = await getCollection("blog",({ data }) => !data.draft);
console.log("🚀 ~ posts:", posts)
---
<section>
    <h2 class="text-2xl font-medium mb-5">Recent Posts</h2>
    <ul>
        {posts.length && posts.map(({data,slug})=>(
        <li class="text-lg leading-relaxed"><a class="hover:underline" href={`/blog/${slug}`}><h3></h3>{data.title}</h3></a></li>
        ))}
    </ul>
</section>