---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
---

<Layout title="关于">
  <Header />
  <Main>
    <article class="prose">
      <slot />
    </article>
  </Main>
</Layout>
